<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>giflib | Home</title>
    </head>
    <body>
        <h1>Home</h1>
        <p>If we're gonna walk though the woods, we need a little path. In nature,
            dead trees are just as normal as live trees. Life is too short to be alone,
            too precious. Share it with a friend. Have fun with it. With something so strong,
            a little bit can go a long way.</p>
        <img src="http://placehold.it/300x300/5fcf80/ffffff" alt="logo"/>





    </body>
</html>